.discover{
    display: flex;
    height: calc(100vh - 9rem);
    align-items: center;
}
.discover section{
    width: 50%;
}
.context{
    align-items: center;
}
.context h2{
  margin-left: 0;  
}


section div{
    display: flex;
    flex-direction: column;
    width: fit-content; /* permet de limité la longueur au contenu */
    background-color: var(--footer-bg-color);
    align-items: center;
    padding: 1rem;
}
.iconic{
    display: flex;
}
.iconic div{
    background-color: var(--footer-bg-color);
    margin-right: 1rem;
}
.covers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.covers img{
    width: 50%;
    aspect-ratio: 1;


}